<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title> {{ page.title }} </title>
  <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/prettify/r298/prettify.min.css" rel="stylesheet">

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="/bower_components/google-code-prettify/src/prettify.css">

  <link href="/css/hebi.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
</head>
<body class="impress-not-supported">

<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>
